@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");
a {
  text-decoration: none !important;
}
body {
  margin: 0;
  overflow-y: scroll;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scroll-margin-top: 6em;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.family-jost {
  font-family: "Jost", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-blue-main {
  background: rgb(0, 37, 83);
}
.border-blue-main {
  border-color: rgb(0, 37, 83);
}

.test {
  border-color: rgb(0, 37, 83);
  border-bottom-right-radius: 60;
  border-top-left-radius: 60;
}

p {
  margin-bottom: 0 !important;
}
